@charset "UTF-8";

#canvasNavigation {
  width: 1050;
  height:50;
   text-align:center;
}
#canvasAboutUs {
  width:1050px;
  height:334px;
   text-align:center;
}



body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #FAFAFA;
	color: #121316;
}

div {
    box-shadow: 10px 10px 5px #888888;
}